<% include partials/header %>
<div class="warn-reset-reduction"></div>
<div class="dark-overlay" id="dark-overlay-interface"></div>
<textarea class="active-user-id" name="userId" type="text" style="display: none;"><%=currentUser._id%></textarea>
<div class="container-fluid container-interface">
    <div class="row">
        <div class="col-md-3">
            <div class="side-panel">
                <div class="notes-panel">
                    <img class="gn-logo-interface" src="/images/gn-logo.png">
                    <div class="btn-new-note">+ New Note</div>
                    <iframe id="new-note-iframe" name="new-note-iframe" style="display: none;"></iframe>
                    <div class="btn-new-binder">New Binder</div>
                    <div class="notes">
                        <%if (currentUser.notes.length > 0) {%>
                            <% currentUser.notes.forEach(function(note){ %>
                                <div class="note-label" id="note-label-<%=note._id%>">
                                    <textarea class="note-label-id" name="noteId" type="text" style="display: none;"><%=note._id%></textarea>
                                    <% if (note.type == "Text") {%>
                                        <img class="note-label-icon" src="/images/document-icon.png">
                                    <%} else {%>
                                        <img class="note-label-icon" src="/images/microphone-icon.png">
                                    <%}%>
                                    <% if (note.title.length > 22) {%>
                                        <span class="note-label-title"><%=note.title.substring(0, 19)%>...</span>
                                    <%} else {%>
                                        <span class="note-label-title"><%=note.title%></span>
                                    <%}%>
                                    <span class="note-label-date"><%=note.dateOfCreation%></span>
                                </div>
                        <% }); %>
                        <%}%>
                    </div>
                </div>
                <div class="control-panel">
                    <textarea class="control-panel-reduction-percent" style="display: none;"></textarea>
                    <span class="control-panel-subtitle">REDUCTION: <span id="reduction-percentage"></span>%</span>
                    <div class="container-slider">
                        <div id="slider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 note-interface-container">
            <%if (currentUser.notes.length > 0) {%>
                <% currentUser.notes.forEach(function(note){ %>
                    <div class="note-interface" id="note-interface-<%=note._id%>">
                        <input class="active-note-input active-note-title" name="noteTitle" type="text" placeholder="Title here" value="<%=note.title%>">
                        <hr style="margin: 0; background-color: Black; height: 1px;">
                        <textarea class="active-note-input active-note-body" name="noteBody" type="text" placeholder="Body here"><%=note.bodyText%></textarea>
                        <textarea class="active-note-id" name="noteId" type="text" style="display: none;"><%=note._id%></textarea>
                        <span></span>
                        <a class="active-note-delete"><img class="active-note-delete-icon" src="/images/trash-icon.png"></a>
                        <span class="text-save-status"></span>
                    </div>
                <% }); %>
            <%}%>
        </div>
    </div>
</div>
<% include partials/footer %>