<% include partials/header %>
<div class="container-fluid container-interface">
    <div class="row">
        <div class="col-md-3">
            <div class="side-panel">
                <img class="gn-logo-interface" src="/images/gn-logo.png">
                <form action="/newNote" method="POST" id="new-note-form" target="new-note-iframe">
                    <div class="btn-new-note" onclick="document.getElementById('new-note-form').submit();setTimeout(function(){$('.side-panel').load('/interface .side-panel > *');}, 15);">+ New Note</div>
                </form>
                <iframe id="new-note-iframe" name="new-note-iframe" style="display: none;"></iframe>
                <div class="btn-new-binder">New Binder</div>
                <div class="notes">
                    <%if (currentUser.notes.length > 0) {%>
                        <% currentUser.notes.forEach(function(note){ %>
                            <form action="/openNote" method="POST" id="open-note-<%=note._id%>-form" target="open-note-<%=note._id%>-iframe">
                                <div class="note-label" onclick="document.getElementById('open-note-<%=note._id%>-form').submit();setTimeout(function(){$('.note-interface').load('/interface .note-interface > *');}, 15);">

                                    <% if (note.type == "Text") {%>
                                        <img class="note-label-icon" src="/images/document-icon.png">
                                    <%} else {%>
                                        <img class="note-label-icon" src="/images/microphone-icon.png">
                                    <%}%>
                                    <%=note.title%>
                                    <span class="note-label-date"><%=note.dateOfCreation%></span>
                                </div>
                                <textarea name="noteId" type="text" style="display: none;"><%=note._id%></textarea>
                            </form>
                            <iframe id="open-note-<%=note._id%>-iframe" name="open-note-<%=note._id%>-iframe" style="display: none;"></iframe>
                        <% }); %>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="note-interface">
                <%if (activeNote) {%>
                    <span>active note: <%=activeNote%></span>
                <%}%>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>